/* Import Google Fonts for additional styles */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

/* Define the font face for the digital clock display */
@font-face {
  font-family: "digital-clock";
  src: url("./DSEG7CLASSIC-BOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Basic body styles for centering the calculator on the screen */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

/* Main calculator container styles */
.calculator {
  width: 500px;
  border: solid black;
  background-color: #faf9f6;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Rotate the calculator 180 degrees for special input */
.calculator.rotate-180 {
  transform: rotate(180deg);
}

/* Display area styles */
.display {
  position: relative;
  font-size: 2em;
  margin: 10px 0 1px 0;
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 10px 10px 50px 50px;
  top: -10px;
  text-align: right;
}

/* Inner display area for additional content */
#inner-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  border: solid black;
  background-color: #b1c9b7;
}

/* Background for "huh" button with cat gif */
.huhCat {
  background-image: url("./cat-huh.gif");
  background-size: 100px;
  background-repeat: no-repeat;
}

/* Border and background for inner display */
#inner-display-border {
  border: solid black;
  background-color: white;
  padding: 0.25rem;
  margin-bottom: 2rem;
}

/* Mesh background style */
#grey-mesh {
  border-radius: 10px 10px 50px 50px;
  background-color: #a7a7a7;
  padding: 10px 20px 5px 20px;
}

/* Solar panel style */
#solar-panel {
  margin: 0.5rem 3rem 0.7rem 0;
  display: flex;
  justify-content: flex-end;
}

.solar-panel-child {
  background-color: #572b2c;
  display: inline-block;
  border: solid #997171 1px;
  width: 1.5rem;
  height: 1.5rem;
}

/* Button grid layout */
.buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

/* General button styles */
.btn {
  font-size: 1.5em;
  height: 60px;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  border: solid black;
  background-color: #a9a9a9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;
}

/* Button press animation */
.btn:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Button hover effect */
.btn:hover {
  background-color: #5555554d;
}

/* Operator button styles */
.operator-btn {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  font-size: 1.5em;
  border: solid black;
  background-color: #787878;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;
}

/* Operator button press animation */
.operator-btn:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Operator button hover effect */
.operator-btn:hover {
  background-color: #5555554d;
}

/* Clear button styles */
.btn-clear {
  background-color: #efd5fc;
}

.btn-clear:hover {
  background-color: #f0e0f8;
}

/* On/Clear button styles */
.btn-on-clear {
  background-color: #efd5fc;
}

.btn-on-clear:hover {
  background-color: #f0e0f8;
}

/* Smaller font size for specific buttons */
.smaller {
  font-size: x-small;
  padding: 5px;
}

/* Spanning add button */
#add {
  grid-row: span 2;
}

/* Highlight effect for buttons */
.highlight {
  background-color: white;
  color: black;
}

/* Letter display styles */
#letter-display {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  margin: 5px;
}

/* Number display styles */
#number-display {
  font-family: "digital-clock", sans-serif;
  font-size: larger;
  color: black;
  margin: 5px;
}
