@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

@font-face {
  font-family: "digital-clock"; /* Replace with your preferred font name */
  src: url("./DSEG7CLASSIC-BOLD.TTF") format("truetype"); /* Adjust the path and format */
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.calculator {
  background-color: #faf9f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  text-align: right;
}

#inner-display {
  border: solid black;
  background-color: #b1c9b7;
}

#inner-display-border {
  border: solid black;
  background-color: white;
  padding: 0.25rem;
}

#grey-mesh {
  background-color: #a7a7a7;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#solar-panel {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.solar-panel-child {
  background-color: #572b2c;
  display: inline-block;
  border: solid #997171 1px;
  width: 1.5rem;
  height: 1.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  /* background: linear-gradient(to bottom, #ffffff, #d0d0d0); */
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  font-size: 1.5em;
  border: solid black;
  background-color: #a9a9a9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Text shadow for 3D effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for button */
  transition: transform 0.1s; /* Animation for button press */
}

.btn:active {
  transform: translateY(2px); /* Move button down on press */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Adjust shadow on press */
}

.btn:hover {
  background-color: #5555554d;
}

.operator-btn {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  font-size: 1.5em;
  border: solid black;
  background-color: #787878;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.operator-btn:hover {
  background-color: #5555554d;
}

.btn-clear {
  background-color: #efd5fc;
}

.btn-clear:hover {
  background-color: #f0e0f8;
}

.highlight {
  background-color: white;
  color: black;
}

#letter-display {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#number-display {
  font-family: "digital-clock", sans-serif;
  font-size: larger;
  color: black;
  margin-right: 5px;
  margin-bottom: 10px;
}
